<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template demo</title>


</head>

<body style="background-color:pink">
<table border="2" style="background-color:yellow">


<p>hai bro</p><br>

{% for k in data %}
    <tr>

         <td>{{k.id}}</td>
        <td>{{k.Name}}</td>
        <td>{{k.Email_id}}</td>
        <td>{{k.Colleges__Acronym}}</td>



         <td> <button onClick="this.innerHTML='{{k.marks__Total}}';">click me</button></td>
    </tr>
{% endfor %}

</table>

</body>
</html>